

  ion-content {
    width:100%;
    height: 100%;
    --background: linear-gradient(10deg,#f13967,#ff0202);
 }

ion-card{

 --background: rgba(232, 230,230,0.5);
 border-radius: 10px
}

ion-item{
 --background: rgba(232, 230, 230, 0.137);
 border-radius: 10px;
}

.text-styles{
 text-align:center;
 font-size:15px;
 color:orange;
}
.p-style{
 text-align:center;
}
