<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon> 
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background:#f7f7f7;" >

   
 
    <ion-card >
      <ion-grid *ngFor="let movie of movies">
          <ion-row>
            <ion-col>
              <div >
                  <img src={{movie.image_url}} >
              </div>
            </ion-col>
            <ion-col> 
                    <ion-card-title>{{movie.name}}</ion-card-title>
                   
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon> 
                    <ion-card-subtitle>13,051 votes | {{movie.rating}}</ion-card-subtitle> 
                    <ion-icon name="heart" ></ion-icon> <span style="margin-bottom:10px;"> 85%</span>
                    
            </ion-col> 
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>
                <span style="vertical-align:center;">UA | {{movie.type}}| {{movie.production_house}} |{{movie.language}} |{{movie.year}} </span>  
                <ion-button style="float:right;" color="primary" (click)='doLogin()'>Book Now</ion-button> <br> 
              </ion-card-subtitle>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col> 
                <p style="border-top: 1px solid #989aa29c;">
                    <ion-card-title>Summary</ion-card-title>
                  A culmination of 22 interconnected films the fourth installment of the Avengers saga 
                    will draw audiences to witness the turning point of this epic journey.
                </p>
                </ion-col>
            </ion-row>
        </ion-grid> 
    </ion-card>
  
        </ion-content>