<!-- <ion-header>
    <ion-toolbar>
      <ion-title>
          <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon> 
        Movie Booking
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="background:#f7f7f7;" >
  
     
    <ion-row>
      <ion-card >
        <ion-grid>
            <ion-col>
            <ion-item>
                <ion-label>Date Of Movie</ion-label>
                <ion-datetime [(ngModel)]="booking.movie_date" display-format="MMM DD, YYYY "></ion-datetime>
              </ion-item>
            </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Tickets</ion-label>
                  <ion-select value="brown" okText="Okay" [(ngModel)]="booking.tickets" cancelText="Dismiss">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="4">5</ion-select-option>
                    <ion-select-option value="4">6</ion-select-option>
                  </ion-select>
                </ion-item>
                </ion-col>
            </ion-row>
          
                <ion-col> 
                    <ion-item>
                        <ion-label>Screen</ion-label>
                        <ion-select value="brown" okText="Okay" [(ngModel)]="booking.screen" cancelText="Dismiss">
                          <ion-select-option value="1">1</ion-select-option>
                          <ion-select-option value="2">2</ion-select-option>
                          <ion-select-option value="3">3</ion-select-option>
                          <ion-select-option value="4">4</ion-select-option>
                        </ion-select>
                      </ion-item>
                  </ion-col>
                  <ion-col> 
                
                      <ion-item>
                          <ion-label>City</ion-label>
                          <ion-select value="brown" okText="Okay" [(ngModel)]="booking.city" cancelText="Dismiss">
                            <ion-select-option value="Bangalore">Bangalore</ion-select-option>
                            <ion-select-option value="hyderabad">hyderabad</ion-select-option>
                            <ion-select-option value="tiruapti">tiruapti</ion-select-option>
                            <ion-select-option value="chennai">chennai</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-button style="float:right;" color="primary" (click)='doLogin()'>Book Now</ion-button> <br> 
                        </ion-item>
                    </ion-col>
              </ion-row>
          </ion-grid> 
      </ion-card>
    
          </ion-content> -->